.cart-sections {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.cart-sections .list{
    width: 100%;
    height: max-content;
}

.ctitle {
    font-family: "Public Sans";
    color: var(--main-col);
    font-size: 40px;
    font-weight: 600;
    width: 100%;
    margin: 20px 0;
}

.cart-sections .list .cards {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 40px;
}

.cart-sections .list .cards .card{
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: "Public Sans";
    background: var(--sec-col);
    border: 3px solid #8097ff10;
    border-radius: 20px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.cart-sections .list .cards .card .details{
    width: max-content;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cart-sections .list .cards .card .details .title{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.cart-sections .list .cards .card .details .csub{
    font-size: 14px;
    margin-top: 5px;
    text-align: left;
}

.cart-sections .list .cards .card .details .csub p{
    font-size: 12px;
}

.cart-sections .list .cards .card .details .csub p.tg{
    margin-top: 10px;
    padding: 5px 10px;
    background: #80a0ff2e;
    border:1px solid var(--for);
    width: max-content;
    border-radius: 20px;
}

.cart-sections .list .cards .popcard{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.cart-sections .list .cards .popcard .pcd{
    width: 30%;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    border-top: 3px solid rgba(28, 0, 84, 0.242);
    height: 100%;
    padding: 0 30px;
    padding-top: 70px;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    background: var(--sec-col);
    box-shadow: 10px 0 30px rgb(3, 0, 9);
    font-family: "Public Sans";
}


.cart-sections .list .cards .popcard .pcd .title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}


.order-progress {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #80a0ff3e;
}

.step-icon.selc{
    background-color: #80a0ff3e;
}

.step-icon.selc .selected{
    width: 8px;
    height: 8px;
    background: var(--main-col);
    border-radius: 50%;  
    position: relative;
}

.step-icon.selc .selected::before{
    content: "";
    width: 14px;
    height: 14px;
    background: #2195f36a;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.step-name {
    font-size: 12.5px;
    text-align: center;
}

.dline {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dline .line{
    width: 120%;
    border: 1.5px dashed var(--for);
}

.dline .line.sel{
    border: 1.5px dashed var(--main-col);
}

/* .completed .step-icon {
    background-color: var(--for);
} */
/* 
.current .step-icon {
    background-color: #2196F3;
} */

.subCont{
    width: 100%;
    height: max-content;
    padding: 20px;
    background: var(--third);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.subCont .tg{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.subCont .tg .gre{
    color: rgb(188, 188, 188);
}

@media screen and (max-width: 711px) {
    .cart-sections .list .cards{
        display: flex;
        flex-direction: column;
    }
    .cart-sections .list .cards .popcard .pcd{
        width: 100%;
    }
}